

      
      
      <div id="recentArticles" class="articles border-top">
        <h1 class="mt-4">Dashboard for <%= name %>  </h1>
<!-- //This is accessing and displaying the name keyvalue pair from home.js  -->
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
        <a href="/articles/new"  class='btn btn-success'> New Article</a>
        <a href="/weeklyTrendingStocks/manage"  class='btn btn-primary'> Manage Weekly Trending Stocks</a>
        <br>
        <br>
      <!-- <h2 style="color: rgb(95, 95, 95);" class="ml-1 pt-2 pb-1">Recent Articles</h2> -->
      <!-- <a href="/articles/new"  class='btn btn-success'> New Article</a> -->
      <!-- This symbol < % without the = will run the code but not ouput it -->
      <% articles.forEach(article => { %>
      <div class=" art border rounded shadow-sm card mb-1">
        <div class="card-body row no-gutters  overflow-hidden flex-md-row  h-md-250">
          <div class="article-body">
            <div id="logo2" style="justify-content: center; align-items: center;">
              <img style="max-width: 100%; margin-top: 1.5rem; margin-bottom: 1.5rem;"  src="<%= article.logopicture %>" alt="Company logo">
            </div>
            <h4 class="card-title"><%= article.title %></h4>
            <div id="dateColor" style="color: rgba(61, 61, 248, 0.5); " class="card-subtitle mb-2">
              <%= article.createdAt.toLocaleDateString() %>
            </div>
            <div class="card-text mb-2">
              <%= article.description %>
            </div>
            <a href="/articles/<%= article.slug %> " class="btn btn-dark ">Read More</a>
            <!-- <a href="articles/edit/<%= article.id %> " id="share1" class="btm btn"><i class=" fab fa-twitter-square fa-2x"></i></a> -->
            <a href="/articles/edit/<%= article.id %> " class="btn-primary btn">Edit</a>
            </form>
          </div>
        </div>
        <div  style=" width: 40%;" class="rightColumn">
          <div class="logoPicContainer">
            <div id="rightColumn">
              <img id="logoPicLogo" src="<%= article.logopicture %>" alt="Company logo">
            </div>
          </div>
        </div>
      </div>
      <% }) %>
      <br />
    </div>
  </div>

