<!-- Partial view, only contains form fields  -->

<!-- What we enter here will be used in all form fields in the site -->

<div class="form-group">
    <label for="title">Title</label>
    <!-- we can call on article.title here because we pass article: article down to new.ejs  -->
    <input required value="<%= article.title %> " type="text" name="title" id="title" class="form-control"> 
</div>

<div class="form-group">
    <label for="description">Description</label>
   <textarea required name="description" id="description" class="form-control"><%= article.description %></textarea>
</div>

<div class="form-group">
    <label for="articleType">Article Type</label>
   <textarea required name="articleType" id="articleType" class="form-control"><%= article.articleType %></textarea>
</div>

<div class="form-group">
    <label for="articleTag">Article Tag #1</label>
   <textarea required name="articleTag" id="articleTag" class="form-control"><%= article.articleTag %></textarea>
</div>

<div class="form-group">
    <label for="articleTagTwo">Article Tag #2</label>
   <textarea required name="articleTagTwo" id="articleTagTwo" class="form-control"><%= article.articleTagTwo %></textarea>
</div>

<div class="form-group">
    <label for="articleTagThree">Article Tag #3</label>
   <textarea required name="articleTagThree" id="articleTagThree" class="form-control"><%= article.articleTagThree %></textarea>
</div>

<div class="form-group">
    <label for="description">Logo Picture</label>
   <textarea required name="logopicture" id="logopicture" class="form-control"><%= article.logopicture %></textarea>
</div>

<div class="form-group">
    <label for="description">Price at time of writing</label>
   <textarea name="pricewritten" id="pricewritten" class="form-control"></textarea><%= article.pricewritten %></textarea>
</div>

<div class="form-group">
    <label for="markdown">Markdown</label>
   <textarea required name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
</div>

<a href="/home/dashboard" class="btn btn-secondary">Cancel</a>
<button class="ml-1 btn btn-primary submit">Save</button>
