<!-- Container is bootstrap class, same with btn etc etc -->
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Lucas Bennett">
  <meta name="generator" content="Jekyll v4.0.1">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap" rel="stylesheet">
  <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">
  <script src="https://use.fontawesome.com/5b9858c609.js"></script>
  <title>Write Stock Blog For now</title>

 


  <!-- Bootstrap core CSS -->
  <!-- <link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->

  <!-- Favicons -->
  <!-- <link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico"> -->
  <!-- <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml"> -->
  <!-- <meta name="theme-color" content="#563d7c"> -->


  <!-- <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 500px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style> -->
  <!-- Custom styles for this template -->
  <!-- Custom styles for this template -->
  <!-- <link href="blog.css" rel="stylesheet"> -->
</head>

<body style="background-color: rgb(248, 246, 246, .5);">
  <div id="" style="border-radius: 0px; background-color: rgb(248, 246, 246, .5) ; margin-top: 2.75rem; padding-bottom: 0rem; display: flex; flex-direction: row;">
      <h4 style="color: rgb(17, 17, 17); padding: 1.25rem; border: maroon 3px solid; border-radius: 6px; background-color: white;  font-weight: 300; font-size: 26px; margin-right: 16.5rem; margin-left: 16.5rem;"> <strong id="authorName2" style="font-size: 24px; padding-top: 5rem; margin-right: .15rem;">WRITESTOCK</strong> is the current project of New York based financial analyst, <strong style=" font-size: 24px; color: rgb(67, 99, 160);" id="authorName2">STILLWATER.</strong> Through deep-dive analytical reporting, reviews of company financials, and insight into current market trends, our goal is to help the reader learn about new and innovative companies. This site is meant for entertainment purposes only and should not be taken as financial advice. 
      </h4>
      
  </div> 
  <div style="margin-top: 2rem; margin-right: 16.5rem; margin-left: 16.5rem; margin-bottom: 1rem; border-bottom:  rgb(67, 99, 160, .5) 2px solid;"></div>      
    <br>
    <!-- <div style="margin-right: 6rem; margin-left: 6rem;" class="row mb-2">
      <div class="col-md-6">
        <div style="background-color: white;" class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Europe</strong>
            <h3 class="mb-0">The Pros & Cons of Prosus</h3>
            <div class="mb-1 text-muted">7/6/2020</div>
            <p style="font-size: 20px;" class="card-text mb-auto">An interesting spin-off from a South African conglomerate with a complicated structure.
            </p>
            <a href="/articles/prosus-a-complicated-european-tech-play" class="stretched-link">Read More</a>
          </div>
          <div class="col-auto d-lg-block">
            <img width="60%" height="auto"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Prosus_logo.svg/1200px-Prosus_logo.svg.png"
              alt=""> -->
            <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
          <!-- </div>
        </div>
      </div>
      <div class="highlights"></div>
      <div class="col-md-6">
        <div style="background-color: white; display: flex; flex-direction: row;" class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-warning">Latin America</strong>
            <h3 class="mb-0">Free Trade is Free Money</h3>
            <div class="mb-1 text-muted">Aug, 9 2020</div>
            <p style="font-size: 20px;" class="mb-auto">A South American powerhouse with an eye on emerging markets, MercadoLibre is a stock to
              watch.</p>
            <a href="/articles/mercadolibre-a-powerhouse-e-commercefintech-player" class="stretched-link">Read More</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img width="60%" height="auto"
              src="https://upload.wikimedia.org/wikipedia/en/thumb/2/20/MercadoLibre.svg/1200px-MercadoLibre.svg.png" alt="">
            <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
          <!-- </div>
        </div>
      </div>
    </div>  -->

    <div id="recentArticles" class="articles border-top">
      <!-- <h2 style="color: rgb(95, 95, 95);" class="ml-1 pt-2 pb-1">Recent Articles</h2> -->
      <!-- <a href="/articles/new"  class='btn btn-success'> New Article</a> -->
      <!-- This symbol < % without the = will run the code but not ouput it -->
      <% articles.forEach(article => { %>
      <div class=" art border rounded shadow-sm card mb-1">
        <div class="card-body row no-gutters  overflow-hidden flex-md-row  h-md-250">
          <div class="article-body">
            <div id="logo2" style="justify-content: center; align-items: center;">
            <img style="max-width: 100%; margin-top: 1.5rem; margin-bottom: 1.5rem;"  src="<%= article.logopicture %>" alt="Company logo">
            </div>
            <% if(article.articleType === 'Company Analysis') { %> 
            <a href="/companyanalysis"><div class="mb-2" id="articleType"> <%= article.articleType %>  </div></a>
            <% } %> 
            <% if(article.articleType === 'Earnings Review') { %> 
            <a href="/earningsreviews"><div class="mb-2" id="articleType2"> <%= article.articleType %>  </div></a>
            <% } %>   
            <% if(article.articleType === 'Sectors & Trends') { %> 
            <a href="/sectors"><div class="mb-2" id="articleType3"> <%= article.articleType %>  </div></a>
            <% } %>   
            <h4 class="card-title"><%= article.title %></h4>
            
            <div  class="card-text mb-2">
              <h5 style="margin-top: .5rem; padding-bottom: .25rem; font-weight: 300;"> <%= article.description %> </h5>
            </div>
            <div style="margin-bottom: .5rem;" id="tickerTagsLine">
              <div class="tickerline">
                <% if(article.articleTicker) { %> 
                  <div class="hiddenDiv">
                    <a  href="ticker/<%= article.articleTicker %>" class=" tickersbtn btn-primary tags"> <%= article.articleTicker %> </a>
                  </div>
                  <% } %> 
                  <% if(article.articleTickerTwo) { %> 
                  <div class="hiddenDiv">
                    <a  href="ticker/<%= article.articleTickerTwo %>" class=" tickersbtn btn-primary tags"> <%= article.articleTickerTwo %> </a>
                  </div>
                  <% } %> 
                  <% if(article.articleTickerThree) { %> 
                  <div class="hiddenDiv">
                    <a  href="ticker/<%= article.articleTickerThree %>" class=" tickersbtn btn-primary tags"> <%= article.articleTickerThree %> </a>
                  </div>
                  <% } %> 
                  <% if(article.articleTickerFour) { %> 
                  <div class="hiddenDiv">
                    <a  href="ticker/<%= article.articleTickerFour %>" class=" tickersbtn btn-primary tags"> <%= article.articleTickerFour %> </a>
                  </div>
                  <% } %> 
                  <% if(article.articleTickerFive) { %> 
                  <div class="hiddenDiv">
                    <a  href="ticker/<%= article.articleTickerFive %>" class=" tickersbtn btn-primary tags"> <%= article.articleTickerFive %> </a>
                  </div>
                  <% } %> 
              </div>
              <div style="margin-top: .25rem; margin-bottom: .5rem;" class="tagsline" >
                <% if(article.articleTag) { %> 
                  <div>
                    <a  style="border: white 2px solid; " href="tags/<%= article.articleTag %>" class="  btn-primary tags"> <%= article.articleTag %> </a>
                  </div>
                  <% } %> 
                  <% if(article.articleTagTwo) { %> 
                  <div>
                    <a  style="border: white 2px solid; " href="tags/<%= article.articleTagTwo %>" class="  btn-primary tags"> <%= article.articleTagTwo %> </a>
                  </div>
                  <% } %>     
                  <% if(article.articleTagThree) { %> 
                  <div>
                    <a  style="border: white 2px solid; " href="tags/<%= article.articleTagThree %>" class="  btn-primary tags"> <%= article.articleTagThree %> </a>
                  </div>
                  <% } %>    
                  <% if(article.articleTagFour) { %> 
                  <div>
                    <a  style="border: white 2px solid; " href="tags/<%= article.articleTagFour %>" class="  btn-primary tags"> <%= article.articleTagFour %> </a>
                  </div>
                  <% } %>        
                  <% if(article.articleTagFive) { %> 
                  <div>
                    <a  style="border: white 2px solid; " href="/<%= article.articleTagFive %>" class="  btn-primary tags"> <%= article.articleTagFive %> </a>
                  </div>
                  <% } %> 
              </div>
  
            </div>
            <div style="display: flex; flex-direction: row;" >
              <a href="articles/<%= article.slug %> " class="btn index btn btn-dark mt-1 ">Read More</a>
              <div style="display: flex; flex-direction: row; margin-left: 1rem;"> 
                <div style="padding-top: 5px;">
                  <img src="https://imgur.com/IzGGPdO.jpg" height="35px" width="auto" alt="">
                </div>
                <div id="authorName" class="ml-1 card-subtitle">
                  <div style="padding-top: .1rem;" id="authorName">STILLWATER</div>
                  <div><%= article.createdAt.toLocaleDateString() %></div>
                </div>
              </div> 
            </div>

            <!-- <a href="articles/edit/<%= article.id %> " id="share1" class="btm btn"><i class=" fab fa-twitter-square fa-2x"></i></a> -->
           
            
            <!-- cant use link tags to delete articles because google clicks all links when indexing -->
            <!--  <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                       <button type="submit" class="btn btn-danger">Delete</button> -->
                        </form>
          </div>
        </div>
        <div  style=" width: 40%;" class="rightColumn">
          <!-- <div class="logoPicContainer"> -->
            <div id="rightColumn">
              <img id="logoPicLogo" src="<%= article.logopicture %>" alt="Company logo">
            </div>
          <!-- </div> -->
          <!-- <div  class="stockPrices">
            <div style=" background-color: white; height: 25%;" class=" art border rounded shadow-sm card stockPriceWritten">
              <div style="font-size: 12px; font-weight: bolder; display: grid; align-items: center; justify-content: center;">Ticker:</div>
              <div style=" margin-top: -.5rem; display: grid; align-items: center; justify-content: center;">LTSPD</div>
            </div>
            <div style="background-color:rgb(176, 196, 222, 20%);;  height: 25%;" class="art border rounded shadow-sm card stockPriceCurrent">
              <div style="font-size: 12px; font-weight: bolder;">Price @ Time of Writing</div>
              <div style="margin-top: -.25rem; font-size: 20px; display: grid; align-items: center; justify-content: center;"><%= article.pricewritten %></div>
            </div>
            <div style="display: flex; flex-direction: row; background-color: whitesmoke;  height: 25%;" class="stockPriceCurrent">
              <div style="background-color: rgb(144, 238, 144, 20%); width: 50%; height: 100%;" class="art border rounded shadow-sm card" > 
                <div style="font-size: 12px; font-weight: bolder; display: grid; align-items: center; justify-content: center;">Current Price</div>
                <div style="margin-top: -.25rem; font-size: 20px; display: grid; align-items: center; justify-content: center;"><%= article.pricewritten %></div>
              </div>  
              <div style="width: 50%; height: 100%;" class="art border rounded shadow-sm card"> 
                <div style=" font-size: 12px; font-weight: bolder; display: grid; align-items: center; justify-content: center;">% Change</div>
                <div style="margin-top: -.25rem; font-size: 20px; display: grid; align-items: center; justify-content: center;">+17%</div>
              </div>    
            </div>
            <div style="background-color: whitesmoke;  height: 25%;" class="art border rounded shadow-sm card stockPriceCurrent">
              <div style="font-size: 12px; font-weight: bolder;">Price @ Time of Writing</div>
              <div style="margin-top: -.25rem; font-size: 20px; display: grid; align-items: center; justify-content: center;"><%= article.pricewritten %></div>
            </div>
          </div> -->
        </div>
      </div>
      <% }) %>
      <br />
    </div>
  </div>
</body>
</html>