<!-- Container is bootstrap class, same with btn etc etc -->
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Lucas Bennett">
  <meta name="generator" content="Jekyll v4.0.1">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">
  <script src="https://use.fontawesome.com/5b9858c609.js"></script>
  <title>Write Stock</title>



  <!-- Bootstrap core CSS -->
  <!-- <link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->

  <!-- Favicons -->
  <!-- <link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico"> -->
  <!-- <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml"> -->
  <!-- <meta name="theme-color" content="#563d7c"> -->


  <!-- <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 500px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style> -->
  <!-- Custom styles for this template -->
  <!-- Custom styles for this template -->
  <!-- <link href="blog.css" rel="stylesheet"> -->
</head>

<body style="background-color: whitesmoke;">
    <div style="margin-right: 6rem; margin-left: 6rem;" class="row mt-4 mb-2">
      <div class="col-md-12">
        <div style="background-color: rgb(252, 236, 217, .5);" class="row no-gutters border rounded overflow-auto mb-4 shadow-sm h-md-250 maindiv">
          <div style="overflow: auto;" class="col p-4 d-flex flex-column position-static origindiv">
            <h2 style="color: rgb(38, 37, 107);" class="mt-1 mb-2">The Origin of Writestock.com</h2>
            <p style="font-size: 22px;" class="mb-2">Writestock.com is the current project of David Still, an active investor from New York City with a background in Financial Analysis and a passion for all things FinTech. Having completed and passed all three levels of the CFA exam, and having worked in the Finance Industry here and abroad, David brings years of experience and expertise to his writing and analysis. Please reach out to David below:</p>
            <div style="margin-top: 1.5rem; display: flex; align-items: center; justify-content: center;" class=" mb-auto icons">
              <a style="color: #BD2C00;" href="https://github.com/davidtstill"><i style="margin-right: 2rem;" class="fab fa-github-square fa-4x"></i></a>
              <a style="color: #006192 ;" href="https://www.linkedin.com/in/davidtstill/"><i style="margin-right: 2rem;" class="fab fa-linkedin-square fa-4x"></i></a>
              <a style="color: midnightblue;" href="mailto:writestockblog@gmail.com"><i style="margin-right: 2rem;" class="fas fa-envelope fa-4x"></i></a>
              <!-- <i class="fas fa-newspaper fa-4x"></i> -->
            </div>
            
          </div>
            <div style="margin-bottom: 1rem; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
              <img class="headShot shadow-sm" style="margin-top: 1rem; margin-bottom: 1rem;"src="https://imgur.com/8JRAeKw.png" width="70%" alt="David Still Headshot">
          </div>
        </div>
      </div>
    </div>
    <div style="margin-right: 7rem; margin-left: 7rem;">
      <div class="jumbotron p-0 p-md-4 text-white rounded bg-dark border-top articlePic">
        <div class="col-md-8 px-0">
          <h1 class=" display-4">Southeast Asia's Leading Internet Company Poised to
            Keep Growing</h1>
          <p style="font-size: 25px;" class="lead my-2">Uniquely positioned in strategic emerging markets, Singapore's leader in FinTech, ecommerce,
            and gaming is poised to take on glabal leaders in every market.</p>
          <p class="lead mb-0"><a href="/articles/southeast-asias-leading-internet-company-poised-to-keep-growing"
              class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
      </div>
    </div>  
    <!-- <div style="margin-right: 6rem; margin-left: 6rem;" class="row mb-2">
      <div class="col-md-6">
        <div style="background-color: white;" class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Europe</strong>
            <h3 class="mb-0">The Pros & Cons of Prosus</h3>
            <div class="mb-1 text-muted">7/6/2020</div>
            <p style="font-size: 20px;" class="card-text mb-auto">An interesting spin-off from a South African conglomerate with a complicated structure.
            </p>
            <a href="/articles/prosus-a-complicated-european-tech-play" class="stretched-link">Read More</a>
          </div>
          <div class="col-auto d-lg-block">
            <img width="60%" height="auto"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Prosus_logo.svg/1200px-Prosus_logo.svg.png"
              alt="">
            <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
          <!-- </div>
        </div>
      </div>
      <div class="highlights"></div>
      <div class="col-md-6">
        <div style="background-color: white; display: flex; flex-direction: row;" class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-warning">Latin America</strong>
            <h3 class="mb-0">Free Trade is Free Money</h3>
            <div class="mb-1 text-muted">Aug, 9 2020</div>
            <p style="font-size: 20px;" class="mb-auto">A South American powerhouse with an eye on emerging markets, MercadoLibre is a stock to
              watch.</p>
            <a href="/articles/mercadolibre-a-powerhouse-e-commercefintech-player" class="stretched-link">Read More</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img width="60%" height="auto"
              src="https://upload.wikimedia.org/wikipedia/en/thumb/2/20/MercadoLibre.svg/1200px-MercadoLibre.svg.png" alt="">
            <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
          <!-- </div>
        </div>
      </div>
    </div> --> 
    <div style="margin-right: 7rem; margin-left: 7rem;" class=" articles border-top">
      <!-- <h2 style="color: rgb(95, 95, 95);" class="ml-1 pt-2 pb-1">Recent Articles</h2> -->
      <!-- <a href="/articles/new"  class='btn btn-success'> New Article</a> -->
      <!-- This symbol < % without the = will run the code but not ouput it -->
      <% articles.forEach(article => { %>
      <div style="display:flex; flex-direction: row; min-height: 12rem;" class=" art border rounded shadow-sm card mb-1">
        <div class="card-body row no-gutters  overflow-hidden flex-md-row  h-md-250" style=" width:60%;">
          <div class="article-body">
            <h4 class="card-title"><%= article.title %></h4>
            <div class="card-subtitle text-muted mb-2">
              <%= article.createdAt.toLocaleDateString() %>
            </div>
            <div class="card-text mb-2">
              <%= article.description %>
            </div>
            <a href="articles/<%= article.slug %> " class="btn btn-dark ">Read More</a>
            <a href="articles/edit/<%= article.id %> " class="btn btn-primary">Edit</a>
            <!-- cant use link tags to delete articles because google clicks all links when indexing -->
            <!-- <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        </form> -->
          </div>
        </div>
        <div  style=" width: 40%;" class="rightColumn">
          <div class="logoPicContainer">
            <div style="display: flex; align-items: center; justify-content: center;" >
              <img style="max-height: auto; max-width: 70%; padding: 1rem;" src="<%= article.logopicture %>" alt="Company logo">
            </div>
          </div>
          <!-- <div  class="stockPrices">
            <div style=" background-color: white; height: 25%;" class=" art border rounded shadow-sm card stockPriceWritten">
              <div style="font-size: 12px; font-weight: bolder; display: grid; align-items: center; justify-content: center;">Ticker:</div>
              <div style=" margin-top: -.5rem; display: grid; align-items: center; justify-content: center;">LTSPD</div>
            </div>
            <div style="background-color:rgb(176, 196, 222, 20%);;  height: 25%;" class="art border rounded shadow-sm card stockPriceCurrent">
              <div style="font-size: 12px; font-weight: bolder;">Price @ Time of Writing</div>
              <div style="margin-top: -.25rem; font-size: 20px; display: grid; align-items: center; justify-content: center;"><%= article.pricewritten %></div>
            </div>
            <div style="display: flex; flex-direction: row; background-color: whitesmoke;  height: 25%;" class="stockPriceCurrent">
              <div style="background-color: rgb(144, 238, 144, 20%); width: 50%; height: 100%;" class="art border rounded shadow-sm card" > 
                <div style="font-size: 12px; font-weight: bolder; display: grid; align-items: center; justify-content: center;">Current Price</div>
                <div style="margin-top: -.25rem; font-size: 20px; display: grid; align-items: center; justify-content: center;"><%= article.pricewritten %></div>
              </div>  
              <div style="width: 50%; height: 100%;" class="art border rounded shadow-sm card"> 
                <div style=" font-size: 12px; font-weight: bolder; display: grid; align-items: center; justify-content: center;">% Change</div>
                <div style="margin-top: -.25rem; font-size: 20px; display: grid; align-items: center; justify-content: center;">+17%</div>
              </div>    
            </div>
            <div style="background-color: whitesmoke;  height: 25%;" class="art border rounded shadow-sm card stockPriceCurrent">
              <div style="font-size: 12px; font-weight: bolder;">Price @ Time of Writing</div>
              <div style="margin-top: -.25rem; font-size: 20px; display: grid; align-items: center; justify-content: center;"><%= article.pricewritten %></div>
            </div>
          </div> -->
        </div>
      </div>
      <% }) %>
      <br />
    </div>
  </div>


</body>
</html>